.message
  .chat-main__content__name
    = message.user.name  
  .chat-main__content__create-time
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main__content__message
    = message.body
