.chat-content{
  float: left;
  background-color: #2f3e51;
  width: 300px;
  height: 100vh;

  &__user{
    height: 15vh;
    background: #253141;

    h1{
      font-size: 16px;
      font-weight: bold;
      color: $base-color;
      padding: 51px 0 0 20px;
      display: inline-block;
    }

    .fa{
      color: $base-color;
      display: inline-block;
    }
  }

  &__group{
    color: $base-color;
    height: 85vh;

    .group-name{
      margin: 20px 20px 5px 20px;
      font-size: 15px;
      color: $base-color;
    }
    .group-message{
      margin:0 20px 20px 20px ;
      font-size: 11px;
      color: $base-color;
    }
  }
}
